* {
    padding:  0;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, rgb(255, 187, 131), red);
    background-attachment: fixed;
}

.Con {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 25px;
    justify-self: center;
    margin-bottom: 9px;
}

label, input, button {
    margin: 3px;
}

.FORM {
    background: linear-gradient(to top left, rgb(209, 29, 29) , orange);
    height: 90vh; width: 50vh;
    border-radius: 3%;
    border: 2px solid black;
}